<div>
    <div style="display: flex; height: 30rem;">
        <div style="width: 50%;">
            <h1
                style="padding-top: 5rem;font-size: 55px; line-height: 60px; font-weight: 600; margin-bottom: 0; color: #101621; font-family: Poppins,sans-serif;">
                Make every</h1>
            <h1
                style="font-size: 58px; line-height: 60px; font-weight: 600; padding-right: 15px; margin-bottom: 30px; color: #991a42; font-family: Poppins,sans-serif;">
                Experience Delightful</h1>
            <div style="display: flex; justify-content: space-between; width: 75%; padding-bottom: 2rem;">
                <p><strong>Gain Market Share</strong></p>
                <p><strong>Reduce Churn</strong></p>
                <p><strong>Grow Revenue</strong></p>
            </div>
            <a routerLink="/contact-list"
                class="btn btn-outline-primary btn-lg mr-2 mb-2 d-sm-block d-md-inline-block"
                style="background-color: #931639;">
                <span style="color: white;">
                    <i class="fa fa-sign-in mr-2"></i>
                    Go to Contact List
                </span>
            </a>
        </div>

        <div style="width: 50%;">
            <img style="max-height: 100%; max-width: 100%;" src="/assets/img/homepage-widget.png" alt="image">
        </div>
    </div>

    <div style="display: flex; height: 30rem; flex-direction: column; align-items: center; padding-top: 4rem;">
        <h2
            style="color: #141f33; font-size: 36px; margin-bottom: 0; font-family: Poppins,sans-serif; font-weight: 700; line-height: 1.3em;">
            Experience Management Solution that</h2>
        <h2
            style="color: #931639; font-size: 36px; margin-bottom: 0; font-family: Poppins,sans-serif; font-weight: 700; line-height: 1.3em;">
            <em>Accelerates</em> Delight</h2>
    </div>
</div>